*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.logo{
     width: 25%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.logo img{
     width: 30%;
     border: 3px;
     border-radius: 50px;
}
.nav-list{

     color: white;
     width: 80%;
     display: flex;
     /* justify-content: center; */
     align-items: center;
     font-size: 20px;
}

.nav-list li{
     list-style: none;
     padding: 30px 50px;
}

.nav-list li a:hover{
     color: darkgrey;
}

.rightnav{
     color: darkblue;
     width: 20%
     text-align: right;
}


#search{
    padding: 5px;
    font-size: 20px;
    border: 3px black;
    border-radius: 10px;
}

.btn{
     padding: 8px;
     margin: 7px;
     border: 2px white;
     border-radius: 8px;
     font-size: 15px;
     background-color: whitesmoke;
}


.background{
     background: rgba(0, 0, 0, 0.7) url('vp2.png');
     background-size: cover;
     background-blend-mode: darken;
}

.firstsection{
     height: 105vh;
}
.box-main{
     display: flex;
     justify-content: center;
     align-items: center;
     color:  white;
     font-size: larger;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     max-width: 75%;
     margin: auto;
       height: 40%;
} 

.firsthalf{
     width: 75%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.secondhalf{
     width: 30%;
}

.secondhalf img{
     width: 80%;
     border: 4px white;
     border-radius: 80px;
     display: block;
     margin: auto;
}

.text-big{
     font-size: 50px;
}

.text-small{
     font-size: 25px
     
}

.secRight{
     height: 500px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     max-width: 80%;
     margin: auto;
}

.thumbnail img{
     width: 80%;
}

.contact{
     background-attachment: fixed;
     height: 530px;
}
.text-center{
     text-align: center;
     padding: 30px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 35px;
}
.form{
     max-width: 500px;
     margin: 42px auto;
}

.form input{
     margin: 30px 0;
     padding: 5px 3px;
     width: 100%;
     font-size: 20px;
     border: 2px solid grey;
     border-radius: 6px;
}